.bar {
background-color: darkblue;
height: 3em;
margin-top: -10px;
margin-bottom: 1em;;
}

.title{
  background-color: darkblue;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Gotu', sans-serif;
  font-weight: bolder;
}

#logout{
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  font-family: 'Gotu', sans-serif;
}

#logout:hover {
  background-color: black;
}