td{
  /* overflow: scroll; */
  border: 1px solid white;
  color: white;
  font-size: 15px;
  background-color: darkblue;
}

th{
  border: 1px solid white;
  color: white;
  font-size: 20px;
  background-color: darkblue;
}

table {
  
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-25%, -25%);
  border-collapse: collapse;
  border: 3px solid white;
}