td{
  border: 1px solid white;
  color: white;
  font-size: 16px;
  background-color: darkblue;
}

th{
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Gotu', sans-serif;
  background-color: darkblue;
}

table {
  color: white;
  position: absolute;
  top: 18%;
  left: 5%;
  transform: translate( 0%, 0%);
  border-collapse: collapse;
  border: 3px solid white;
}

.table-main thead{
  width: 84%
}

.table-main tbody{
  height: 60vh;
  overflow-y: scroll;
}

thead, tbody {
  display: block;
}

h2{
  color: white;
  font-family: 'Gotu', sans-serif;
  text-align: center;
}

#update {
  border-radius: 10px;
  margin-bottom: .75em;
}

#delete {
  border-radius: 10px;
}

.name {
  width: 19%;
  text-align: center;
}

.date {
  width: 18%;
  text-align: center;
}

.wait{
  width: 13%;
  text-align: center;
}

.rating{
  width: 15%;
  text-align: center;
}

.comments{
  width: 10%;
}

.tdName{
  width: 18%;
  text-align: center;
}

.tdDate{
  width: 18%;
  text-align: center;
  
}

.tdWait{
  width: 18%;
  text-align: center;
}

.tdRate{
  width: 18%;
  text-align: center;
}

.tdCom{
  width: 18%;
  text-align: center;
}