.main{
  display: flex;
  flex-direction: row;
}

#signup-con{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: 'Gotu', sans-serif;
  margin-top: 1em;
}

#login-con{
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: 'Gotu', sans-serif;
  margin-top: 1em;
}

#button{
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    border: 3px solid white;
    font-family: 'Gotu', sans-serif;
  }

button:focus {
  outline: none;
}

#button:hover {
  background-color: black;
}

button:active {
  transform: translateY(3px);
} 